:root {
  --body-font: "Inter", sans-serif;
  /*--head-font: "Chakra Petch", sans-serif;*/
  --head-font: "Tektur", sans-serif;
  --danger-color: #ED5050;
  --success-color: #3FCA90;
  --warning-color: #EDCB50;
  --info-color: #3F7FCA;
  --gradient-one-color: linear-gradient(180deg, rgba(160,45,28,0) 0%, rgba(160,45,28,0.7) 30%, rgba(160,45,28,0.7) 60%, rgba(160,45,28,0) 100%);;
  --box-shadow-one: 0px 4px 4px rgba(19, 40, 34, 0.2);
  --p50: rgb(255, 230, 230);
  --p75: rgb(210, 190, 160);
  --p100: rgb(200, 140, 100);
  --p200: rgb(190, 110, 75);
  --p300: rgb(185, 88, 55);
  --p400: rgb(181, 77, 49);
  --p500: rgb(160, 45, 28);

  --s50: rgb(233, 235, 253);
  --s75: rgb(166, 171, 248);
  --s100: rgb(129, 136, 245);
  --s200: rgb(75, 85, 240);
  --s300: rgb(38, 50, 237);
  --s400: rgb(27, 35, 166);
  --s500: rgb(23, 31, 145);

  --s50: rgb(230, 235, 250);
  --s75: rgb(150, 230, 250);
  --s100: rgb(90, 210, 240);
  --s200: rgb(50, 190, 230);
  --s300: rgb(15, 156, 199);
  --s400: rgb(10, 100, 140);
  --s500: rgb(2, 30, 70);

  --n0: #161829;
  --n10: #222434;
  --n20: #303141;
  --n30: #404250;
  --n40: #4c4d5a;
  --n50: #5a5b67;
  --n60: #656772;
  --n70: #73747f;
  --n80: #81828b;
  --n90: #8f9098;
  --n100: #9d9ea5;
  --n200: #abacb2;
  --n300: #b7b7bd;
  --n400: #c5c5ca;
  --n500: #e1e1e3;
  --n600: #ecedee;
  --n700: #f6f6f6;
  --n800: #fafafb;
  --n900: #ffffff;
  --pL50: #e6eeeb;
  --pL75: #99b8af;
  --pL100: #6e9a8d;
  --pL200: #306f5c;
  --pL300: #05513b;
  --pL400: #043929;
  --pL500: #033124;
  --sL50: #e7e8f8;
  --sL75: #9da1e4;
  --sL100: #747ad9;
  --sL200: #3841c8;
  --sL300: #0f1abd;
  --sL400: #0b1284;
  --sL500: #091073;

  --n1: #b54d31;
  --n2: rgb(15, 156, 199);
  --n3: #FFFF95;
}